.unauthorized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.unauthorized a {
    border: 1px solid #000;
    padding: 6px 12px;
    text-decoration: none;
}
